
/*
CSS from:
  http://fluidmind.org/test/css/tables.html
Colour pallete inspired by:
  http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
*/

div#data {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    border-top: 4px solid #3B8686;
    border-bottom: 1px solid #3B8686;
    margin-top: 40px;
    font-size: 0.8em;
}

table th {
    text-align: left;
    padding: 0.2em 0.5em;
    border-top: 1px dotted #3B8686;
    font-family: Arial;
    text-transform: uppercase;
}

table td {
    text-align: right;
    border-top: 1px dotted #3B8686;
    padding: 0.2em 0.5em;
    /* color: #475258; */
    color: #353535;
}

table thead th {
    text-align: center;
   font-weight: bold;
    border-bottom: 1px solid #3B8686;
}

div#note {
    margin: 10px;
    font-family: Arial;
    font-size: 0.6em;
    color: lightgrey;
}

div#note a {
    color: lightgrey;
}